@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background: #E1D4C9;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}

header{
    margin-top: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links{
    display: flex;
    gap: 40px;
}

a{
    color: #403F3D;
    font-weight: 600;
    text-decoration: none;
}

.menu_cup{
    display: flex;
    gap: 8px;
    border-bottom: 2px solid transparent;
    transition: .1s;
}

.menu_cup:hover{
    border-bottom: 2px solid #403F3D;
}

.settings{
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme {
    position: relative;
    width: 88px;
    height: 44px;
    border: 2px solid #aaa;
    border-radius: 22px;
    cursor: pointer;
    overflow: hidden;
}

.theme input {
    display: none;
}

.theme_circle {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: #b99a84;

    transition: 0.25s ease-in-out;
}

.hover_circle {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 2px;
    left: 45px;
    border-radius: 50%;
    background: #665F55;
    opacity: 0;

    transition: 0.25s ease-in-out;
}

.theme:hover .hover_circle{
    opacity: 1;
}

.theme:hover .icons .icon:nth-child(2) img{
    filter: brightness(0) saturate(100%) invert(84%) sepia(8%) saturate(350%) hue-rotate(345deg) brightness(94%) contrast(88%);
}

.icons {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
    pointer-events: none;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}


.icons img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.icon:nth-child(1) img{
    margin-left: 1px;
}

.icon:nth-child(2) img{
    margin-right: 1px;
}

main{
    margin-top: 20px;
}

.intro{
    background: url("../images/img-hero.jpg");
    padding: 100px;
    border-radius: 40px;

}

h1{
    font-size: 72px;
    font-weight: 600;
    color: #E1D4C9;
    width: 530px;
}

.intro p{
    width: 530px;
    margin: 40px 0;
    color: #E1D4C9;
}

.intro a {
    width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: #E1D4C9;
    border-radius: 100px;
    transition: gap .2s ease;
}

.intro a .icon {
    display: flex;
    align-items: center;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-width .2s ease,
        opacity .2s ease;
}

.intro a .icon img {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.intro a:hover {
    gap: 8px;
}

.intro a:hover .icon {
    max-width: 16px;
    opacity: 1;
}

h1 span{
    font-style: italic;
    color: #B0907A;
}

.favourite_coffee{
    margin-top: 100px;
}

h2{
    font-size: 60px;
    color: #403F3D;
    text-align: center;
}

h2 span{
    font-style: italic;
    color: #B0907A;
}

.swap_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coffee{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.coffee h3{
    color: #403F3D;
    text-align: center;
    font-weight: 600;
}

.coffee p{
    color: #403F3D;
    text-align: center;
    font-size: 16px;
}

.price{
    font-size: 24px;
    font-weight: 600;
}

.slide_indicator{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.indicator{
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background: #C1B6AD;
}

.indicator.active{
    background: #665F55;
}

.swap_prewious{
    transform: rotate(180deg);
}

.swap{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #665F55 1px solid;
    height: 60px;
    width: 60px;
}

.collage{
    margin-top: 100px;
}

.collage h2{
    text-align: left;
    line-height: 125%;
}

.collage_images{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.collage_images_part{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.collage_images_part:nth-child(1) .collage_image{
    width: 660px;
    height: 590px;
}

.collage_images_part:nth-child(1) .collage_image:nth-child(2){
    height: 430px;
}

.collage_images_part:nth-child(2) .collage_image{
    width: 660px;
    height: 590px;
}

.collage_images_part:nth-child(2) .collage_image:nth-child(1){
    height: 430px;
}

.collage_image{
    border-radius: 20px;
    overflow: hidden;
}

.collage_image:hover img{
    transform: scale(1);
}

.collage_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .1s ease;
    transform: scale(1.1);
}

.download {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.download_text {
    max-width: 630px;
}

.download h2 {
    text-align: left;
    font-size: 60px;
    line-height: 125%;
}

.download h2 span {
    color: #B0907A;
    font-style: italic;
}

.download_text p {
    max-width: 600px;
    margin: 40px 0;
    color: #403F3D;
    line-height: 150%;
}

.download_buttons {
    display: flex;
    gap: 20px;
}

.download_button {
    width: 200px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #665F55;
    border-radius: 100px;
    transition: .2s;
}

.download_button:nth-child(1) img {
    width: 25px;
    height: 28px;
}

.download_button img {
    width: 28px;
    height: 28px;
}

.download_button span {
    display: flex;
    flex-direction: column;
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
}

.download_button small {
    font-size: 10px;
    font-weight: 400;
}

.download_button:hover {
    background: #665F55;
}

.download_button:hover span {
    color: #E1D4C9;
}

.download_button:hover img {
    filter: brightness(0) invert(1);
}

.download_image {
    width: 630px;
}

.download_image img {
    width: 100%;
    display: block;
}

footer {
    margin-top: 100px;
    padding-bottom: 40px;
}

.footer {
    min-height: 450px;

    padding: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #665F55;
    border-radius: 40px;
}

.footer_left h2 {
    color: #E1D4C9;

    font-size: 60px;
    line-height: 125%;

    text-align: left;
}

.footer_left h2 span {
    color: #B0907A;
    font-style: italic;
}

.socials {
    display: flex;
    gap: 12px;

    margin-top: 40px;
}

.socials a {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #C1B6AD;
    border-radius: 50%;

    transition: .2s;
}

.socials img {
    width: 24px;
    height: 24px;
}

.socials a:hover {
    background: #E1D4C9;
}

.socials a:hover img {
    filter: brightness(0) saturate(100%);
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-width: 400px;
}

.footer_contact h3 {
    margin-bottom: 10px;

    color: #E1D4C9;
    font-size: 24px;
}

.footer_contact a,
.footer_contact p {
    display: flex;
    align-items: center;
    gap: 8px;

    width: max-content;

    color: #E1D4C9;
    font-size: 16px;
    font-weight: 600;
}

.footer_contact a {
    border-bottom: 2px solid transparent;

    transition: .2s;
}

.footer_contact a:hover {
    border-bottom: 2px solid #E1D4C9;
}

.footer_contact img {
    width: 24px;
    height: 24px;
}